# Node.js
node_modules/

# Build output
/dist/
/build/

# Vite
.vite/

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Utilities and dependencies
/.cache/
/.eslintcache
/.npm/
/*.log
/yarn-error.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local