.scrollup__btn {
  padding: 12px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  background-color: rgba(18, 20, 23, 0.5);
  font-size: 0px;
  border: 1px solid rgba(244, 244, 244, 0.5);
  transition: all 0.3s linear;

  @media (1440px<=width) {
    bottom: 24px;
    right: 24px;
  }
}

.scrollup__btn:hover,
.scrollup__btn:focus {
  border-color: var(--accent-color);
  background-color: #242424;
}

.scrollup__btn:hover .scrollup__btn__icon,
.scrollup__btn:focus .scrollup__btn__icon {
  fill: var(--accent-color);
}

.scrollup__btn__icon {
  height: 32px;
  width: 32px;
  fill: #242424;
  transition: all 0.3s linear;
}